body {
  background: #ffffff;
  font-size: 16px;
  font-family: "microsoft yahei";
}
#boxPock {
  display: block;
  display: none;
}
#boxPock .scroll {
  width: 970px;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  overflow: hidden;
}
#boxPock .recovery {
  width: 600px;
  height: 520px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5b636c;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  z-index: 10;
  background: rgba(77, 85, 93, 0.8);
}
#boxPock .recovery .recovery_head {
  width: 100%;
  height: 56px;
  background: #293541;
  text-align: center;
  line-height: 56px;
  line-height: 56px\9;
  color: #ffffff;
  position: relative;
}
#boxPock .recovery .recovery_head i {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icon_off.png) no-repeat;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#boxPock .recovery .recovery_bottom {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
#boxPock .recovery .recovery_bottom .data_hidden {
  width: 100%;
  height: 300px;
  background: #ffffff;
  overflow: hidden;
}
#boxPock .recovery .recovery_bottom .data_backup {
  width: 560px;
  height: 300px;
  overflow-y: auto;
}
#boxPock .recovery .recovery_bottom .data_backup li {
  width: 560px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
}
#boxPock .recovery .recovery_bottom .data_backup li span {
  float: left;
  line-height: 50px;
  line-height: 50px\9;
  display: block;
}
#boxPock .recovery .recovery_bottom .data_backup li .recover,
#boxPock .recovery .recovery_bottom .data_backup li .dele {
  float: right;
  margin-right: 40px;
  width: 50px;
  border: 1px solid #FD813E;
  color: #FD813E;
  border-radius: 5px;
  height: 36px;
  line-height: 34px;
  line-height: 34px\9;
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
  box-sizing: border-box;
}
#boxPock .recovery .cnt_footer {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
#boxPock .recovery .cnt_footer .btn2 {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  line-height: 50px\9;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  background: #9DAAB8;
  margin-bottom: 50px;
  padding: 0;
  font-size: 16px;
}
#boxPock .delete {
  width: 400px;
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #5b636c;
  display: none;
  z-index: 10;
  overflow-y: auto;
  background: rgba(77, 85, 93, 0.8);
}
#boxPock .delete .del_head {
  width: 100%;
  height: 56px;
  background: #293541;
  text-align: center;
  line-height: 56px;
  line-height: 56px\9;
  color: #ffffff;
  position: relative;
}
#boxPock .delete .del_head i {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icon_off.png) no-repeat;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#boxPock .delete .del_bottom {
  width: 100%;
  height: 200px;
  background: #ffffff;
  overflow: hidden;
}
#boxPock .delete .del_bottom .sure {
  width: 230px;
  height: 36px;
  line-height: 36px;
  line-height: 36px\9;
  text-align: center;
  margin: 50px auto;
  margin-bottom: 0;
}
#boxPock .delete .del_bottom .foot {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
#boxPock .delete .del_bottom .foot .btn1 {
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  line-height: 36px\9;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
  background: #FD813E;
  padding: 0;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 0px 10px #FD813E;
  float: left;
  margin-left: 80px;
}
#boxPock .delete .del_bottom .foot .btn2 {
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  line-height: 36px\9;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
  background: #9DAAB8;
  padding: 0;
  font-size: 16px;
  outline: none;
  float: left;
  margin-left: 35px;
}
#boxPock .regain {
  width: 400px;
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #5b636c;
  display: none;
  z-index: 10;
  overflow-y: auto;
  background: rgba(77, 85, 93, 0.8);
}
#boxPock .regain .regain_head {
  width: 100%;
  height: 56px;
  background: #293541;
  text-align: center;
  line-height: 56px;
  line-height: 56px\9;
  color: #ffffff;
  position: relative;
}
#boxPock .regain .regain_head i {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icon_off.png) no-repeat;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#boxPock .regain .regain_bottom {
  width: 100%;
  height: 200px;
  background: #ffffff;
  overflow: hidden;
}
#boxPock .regain .regain_bottom .sure {
  width: 230px;
  height: 36px;
  line-height: 36px;
  line-height: 36px\9;
  text-align: center;
  margin: 50px auto;
  margin-bottom: 0;
}
#boxPock .regain .regain_bottom .foot {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
#boxPock .regain .regain_bottom .foot .btn1 {
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  line-height: 36px\9;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
  background: #FD813E;
  padding: 0;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 0px 10px #FD813E;
  float: left;
  margin-left: 80px;
}
#boxPock .regain .regain_bottom .foot .btn2 {
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  line-height: 36px\9;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
  background: #9DAAB8;
  padding: 0;
  font-size: 16px;
  outline: none;
  float: left;
  margin-left: 35px;
}
